*{
    margin:0;
    padding:0;
    margin: 0; box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-height: 300px;
}

.shortcuts-container{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

#shortcuts-container-ul{
    width: 90%;
}

.delete-icon{
    width: 20px;
    height: 20px;
}

.edit-li{
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}